.conteiner {
    /* position: absolute;
    top: 0; */
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.header {
    position: absolute;
    margin-left: 400px;
    margin-top: 50px;
    font-size: 100%;
    color: white;
}

.avatar {
    max-width: 50%;
    height: auto;
}

.wrapper__header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.74);
}

a {
    text-decoration: none;
}

.heading {
    display: block;
    border: black;
    border-style: none none solid none;
}

.footer {
    display: block;
    font-size: 10%;
    color: white;
}

.wrapper__footer {
    display: flex;
}

.logo {
    margin-top: 20px;
    height: 40px;
}